body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background: #efecec;
}

.logo img {
    color: #fff;
    font-size: 22px;
    width: 120px;
    height: 120px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: rgb(40, 38, 38);
    text-decoration: none;
    font-size: 18px;
}

/* Hero Section */
.hero .bg-image {
    padding: 150px;
    background: #f5f5f5;
    text-align: center;
    background-image : linear-gradient(rgba(4,9,30,0.7) , rgba(4,9,30,0.7)),
   url(image/bg.jpg);
   background-position : center;
   background-size : cover;
   position : relative;
}


/* Two Column Layout */
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.box  {
    flex: 1;
    padding: 20px;
    background: #e3e3e3;
    border-radius: 10px;
   
}
.box  img{
 width: 300px;
    height: 200px;
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

footer p a img {
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    color: #00b7ff;
    text-decoration: none;

}

footer img  a:hover  {
    color: #00b7ff;
     font-size: 20px;
    text-decoration: underline;
}
/* -------------------------------------- */
/*       RESPONSIVE DESIGN (Mobile)       */
/* -------------------------------------- */

@media (max-width: 768px) {
    
    /* Navbar */
    .nav-links {
        flex-direction: column;
        background: #444;
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    /* Stack columns vertically */
    .container {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 26px;
    }

    .hero p {
        font-size: 18px;
    }
}
